@model Category

<form method="post">
    <div class="row pb-2">
        <h2 class="text-primary">Данные категории:</h2>
        <hr />
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="Name">Имя</label>
        <input asp-for="Name" class="form-control disabled" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="DisplayOrder">Порядок отображения</label>
        <input asp-for="DisplayOrder" class="form-control disabled" />
        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-danger form-control" style="width: 150px">Удалить</button>
    <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width: 150px">Отмена</a>
</form>