<div class="container text-center" style="margin-top: 100px">
    <h1>Авторизация</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <hr />
            <div class="mb-2 row p-1">
                <label class="col-auto">Имя пользователя</label>
                <input class="form-control" />
                
            </div>
            <div class="mb-2 row p-1">
                <label class="col-auto">Пароль</label>
                <input class="form-control" />
            </div>
            <div class="p-4">
                <button type="submit" class="btn btn-outline-primary form-control" style="width: auto">Авторизация</button>
            </div>
            
        </div>
    </div>
</div>